<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to partyTime.com, <%= @user %></h1>
    <p>
      You have been invited to <%= @event.title %> on PartyTime.com.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%=  welcome_url(:membership_id => @membership.invitiation_token) %>.
    </p>
    <p>Thanks for your interest and have a great day!</p>
  </body>
</html>
