<h1> Welcome to Party Time </h1>

<p> You have been invited by your friend to join them on their event.
    To sign up to PartyTime follow this link  </p>
<%= link_to('Sign Up', new_user_registration_path)  %>
