<div class = "event_membership",  id="event_membership" >
<h3> Going: </h3>
<ul>
  <% @event.memberships.going.each do |membership| %>
      <li><%= membership_email_or_name(membership, @user) %></li>
  <% end %>
  </ul>
  <% if @event.event_invited_memberships? %>
    <h3> Invited: </h3>
    <ul>
      <% @event.memberships.invited.each do |membership| %>
        <% if membership.user %>
          <li><%= membership_email_or_name(membership, @user) %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
