<%= form_for @membership, url: event_membership_path(:event_id => @event.id, :id => @membership.id),  remote: true do |f| %>
  <div><%= hidden_field_tag :status, Membership::RSVP_GOING %></div>
  <%= f.submit "Going", class: "btn btn-success" %>
<% end %>
