<%= render 'event_header' %>
<div class="col-xs-6 col-sm-2">
  <%= render 'event_membership' %>
</div>

<div class="col-md-8">
  <h1>Edit Event</h1>
  <%= render 'form' %>
  <%= link_to 'Back', events_path %>
</div>
